<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My E-commerce App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>

				{% if session.get('user_id') %}
                    <li><a href="{{ url_for('products') }}">products</a></li>
					<li><a href="{{ url_for('logout') }}">logout</a></li>
				{% else %}
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}

            </ul>
        </nav>
    </header>
    
    <main class="main-content">
        {% block content %}
        <!-- Content will be injected here -->
        {% endblock %}
    </main>
    

</body>
</html>
