{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <h1>Change Password</h1>
    <form method="POST" action="{{ url_for('change_password') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.current_password.label }}
            {{ form.current_password(class="form-control") }}
            {% if form.current_password.errors %}
                <div class="error">{{ form.current_password.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.new_password.label }}
            {{ form.new_password(class="form-control") }}
            {% if form.new_password.errors %}
                <div class="error">{{ form.new_password.errors[0] }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn">Change Password</button>
    </form>
{% endblock %}
