{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
    <h1>Forgot Password</h1>
    <form method="POST" action="{{ url_for('forgot_password') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
            {% if form.username.errors %}
                <div class="error">{{ form.username.errors[0] }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn">Request OTP</button>
    </form>
{% endblock %}
