{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <h1>Reset Password</h1>
    <form method="POST" action="{{ url_for('reset_password') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.otp.label }}
            {{ form.otp(class="form-control") }}
            {% if form.otp.errors %}
                <div class="error">{{ form.otp.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.new_password.label }}
            {{ form.new_password(class="form-control") }}
            {% if form.new_password.errors %}
                <div class="error">{{ form.new_password.errors[0] }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn">Reset Password</button>
    </form>
{% endblock %}
